@model SearchResultDto

<li class="snippet-block">
    <dl>
        <dt>@Html.DisplayNameFor(x => x.Name)</dt>
        <dd><a href="@Model.Url">@Model.Name</a></dd>

        <dt>@Html.DisplayNameFor(x => x.Url)</dt>
        <dd><span class="url">@Model.Url</span></dd>

        <dt>@Html.DisplayNameFor(x => x.Snippet)</dt>
        <dd><span>@Model.Snippet</span></dd>
    </dl>
</li>